<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="en">
    <title>产品详情</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div id="index-banner">
        <div class="section no-pad-bot">
            <div class="container">
                <div th:if="${productDetail == null}">
                    <div class="col s12 m12 l12">
                        <span>该产品不存在或者已下架，快去看看其它商品吧！</span>
                    </div>
                </div>
                <div th:if="${productDetail != null}">
                    <div class="col s12 m12 l6">
                        <div class="slider">
                            <ul class="slides">
                                <li th:each="imgUrl : ${productDetail.imgUrlList}">
                                    <img th:src="@{'/static/images/' + ${imgUrl}}">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                        <div class="container">
                            <h5 th:text="${productDetail.name}"></h5><br/>
                            <span style="font-size: 20px;" th:text="'品牌: ' + ${productDetail.brandName}"></span><br/>
                            <span style="color: #C5C1AA;font-size: 18px;">市场价:<del
                                    th:text="${productDetail.marketPrice}"></del></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;<span
                                style="color: #CD0000; font-size: 18px;"
                                th:text="'特价:' + ${productDetail.salePrice}"></span><br/>
                            <a class="waves-effect waves-light btn" th:href="@{'/user/buy/' + ${productDetail.id}}"><i
                                    class="material-icons left">cloud</i>立即购买</a>
                        </div>
                    </div>
                    <div class="col s12 m12 l12">
                        <br/>
                        <h5 th:text="${productDetail.description}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        $('.slider').slider({
            full_width: true,
            interval: 2000,
            transition: 1000,
            indicators: true
        });
    });
</script>
</body>
</html>