<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head lang="en">
    <title>登录</title>
    <link th:href="@{/static/css/register.css}" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        .input-group {
            width: 78%;
            float: right;
        }
    </style>
</head>
<body>
<main role="main" class="container" layout:fragment="content">
    <div class="col-md-5 col-md-offset-3 container">
        <form th:object="${loginForm}" method="post" class="col s12">
            <div class="form-group has-feedback">
                <label for="username">用户名</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="username" class="form-control" placeholder="请输入用户名" maxlength="20" type="text"
                           th:field="*{username}" required="required">
                </div>
            </div>

            <div class="form-group has-feedback">
                <label for="password">密码</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="password" class="form-control" placeholder="请输入密码" maxlength="20" type="password"
                           th:field="*{password}" required="required">
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <div class="form-group has-feedback">
                        <label for="kaptcha">验证码</label>
                        <div class="input-group" style="width: 66%;">
                            <span class="input-group-addon"><i class="fa fa-qrcode"></i></span>
                            <input id="kaptcha" class="form-control" placeholder="验证码" type="text"
                                   th:field="*{kaptcha}" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-4 text-right" style="padding-left: 0;">
                    <img th:src="@{/kaptcha/image}" onclick="this.src=this.src+'?'">
                </div>
            </div>
            <span class="help-block" style="color: red;" th:if="${param.error}"
                  th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">错误信息</span>

            <div style="text-align: center">
                <input class="col-5 form-control btn btn-primary" id="submit" value="登录"
                       type="submit">
                <input class="col-5 form-control btn btn-danger" id="reset" value="重置" type="reset">
            </div>
        </form>
    </div>
</main>
</body>
</html>