<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="en">
    <title>注册新用户</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h2 class="header center teal-text text-lighten-2"><i class="material-icons prefix medium">assignment_ind</i>个人信息
                </h2>
                <div class="row center">
                    <form th:object="${user}" method="post" class="col s12">
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="username" type="text" class="validate" th:field="*{username}"/>
                                <label for="username">用户名</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">dialpad</i>
                                <input id="password" type="password" class="validate" th:field="*{password}"/>
                                <label for="password">密码</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">person_pin</i>
                                <input id="name" type="text" class="validate" th:field="*{name}"/>
                                <label for="name">姓名</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate" th:field="*{email}"/>
                                <label for="email" data-error="请输入正确的邮箱">邮箱</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field inline col s6 offset-s3">
                                <i class="material-icons prefix">phone</i>
                                <input id="tel" type="tel" class="validate" th:field="*{tel}"/>
                                <label for="tel">手机号</label>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <button class="btn waves-effect waves-light" type="submit" name="save">提交
                                    <i class="material-icons right">send</i>
                                </button>
                                <button class="btn waves-effect waves-light" type="reset" name="reset">重置
                                    <i class="material-icons right">undo</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img th:src="@{/static/images/background1.jpg}" alt="Unsplashed background img 1"></div>
    </div>
</div>
</body>
</html>