<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head lang="en">
    <title>注册</title>
    <link th:href="@{/static/css/register.css}" type="text/css" rel="stylesheet"/>
    <style type="text/css">
        .input-group {
            width: 78%;
            float: right;
        }
    </style>
</head>
<body>
<main layout:fragment="content" role="main" class="container">
    <div class="col-md-5 col-md-offset-3 container">
        <form th:object="${registerForm}" method="post" onsubmit="return check()">
            <div class="form-group has-feedback">
                <label for="username">用户名<span style="color: red;">*</span></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="username" class="form-control" placeholder="请输入6-20位字母或数字的用户名" maxlength="20" type="text"
                           th:field="*{username}" required="requred">
                </div>
            </div>
            <div th:errors="*{username}" style="color: red;margin-top:-8px;margin-bottom:5px;">Error</div>

            <div class="form-group has-feedback">
                <label for="password">密码<span style="color: red;">*</span></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="password" class="form-control" placeholder="请输入8-20位字母或数字的密码" maxlength="20" type="password"
                           th:field="*{password}" required="required">
                </div>
            </div>
            <div th:errors="*{password}" style="color: red;margin-top:-8px;margin-bottom:5px;">Error</div>

            <div class="form-group has-feedback">
                <label for="passwordConfirm">确认密码<span style="color: red;">*</span></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="passwordConfirm" class="form-control" placeholder="请再次输入密码" maxlength="20"
                           type="password" th:field="*{passwordConfirm}" required="required">
                </div>
            </div>
            <div th:errors="*{passwordConfirm}" style="color: red;margin-top:-8px;margin-bottom:5px;">Error</div>

            <div class="form-group has-feedback">
                <label for="name">姓名<span style="color: red;">*</span></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                    <input id="name" class="form-control" placeholder="请输入姓名" type="text"
                           th:field="*{name}" required="required">
                </div>
            </div>
            <div th:errors="*{name}" style="color: red;margin-top:-8px;margin-bottom:5px;">Error</div>

            <div class="form-group has-feedback">
                <label for="email">邮箱<span style="color: red;">*</span></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    <input id="email" class="form-control" placeholder="请输入邮箱" type="email"
                           th:field="*{email}" required="required">
                </div>
            </div>
            <div th:errors="*{email}" style="color: red;margin-top:-8px;margin-bottom:5px;">Error</div>

            <div class="form-group has-feedback">
                <label for="tel">手机号<span style="color: red;">*</span></label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input id="tel" class="form-control" placeholder="请输入手机号" maxlength="11" type="text"
                           th:field="*{tel}" required="required">
                </div>
            </div>
            <div th:errors="*{tel}" style="color: red;margin-top:-8px;margin-bottom:5px;">Error</div>

            <div class="row">
                <div class="col-8">
                    <div class="form-group has-feedback">
                        <label for="kaptcha">验证码<span style="color: red;">*</span></label>
                        <div class="input-group" style="width: 66%;">
                            <span class="input-group-addon"><i class="fa fa-qrcode"></i></span>
                            <input id="kaptcha" class="form-control" placeholder="验证码" type="text"
                                   th:field="*{kaptcha}" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-4 text-right" style="padding-left: 0;">
                    <img th:src="@{/kaptcha/image}" onclick="this.src=this.src+'?'">
                </div>
            </div>
            <div th:errors="*{kaptcha}" style="color: red;margin-top:-8px;margin-bottom:5px;">Error</div>

            <div style="text-align: center">
                <input class="col-5 form-control btn btn-primary" id="submit" value="立即注册"
                       type="submit">
                已有账号？<a th:href="@{/login}">立即登录</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>