<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="en">
    <title>注册</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div id="index-banner">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h4 class="header center teal-text text-lighten-2"><i
                        class="material-icons prefix small">assignment_ind</i>新用户注册
                </h4>
                <div class="row center">
                    <form th:object="${registerForm}" method="post" class="col s12" onsubmit="return check()">
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="username" type="text" class="validate" th:field="*{username}"
                                       required="required" th:errorclass="invalid" th:placeholder="请输入6-20位字母或数字的用户名"/>
                                <label for="username">用户名</label>
                                <div th:errors="*{username}" class="red-text">Error</div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">dialpad</i>
                                <input id="password" type="password" class="validate" th:field="*{password}"
                                       required="required" th:errorclass="invalid" th:placeholder="请输入8位以上字母或数字的密码"/>
                                <label for="password">密码</label>
                                <div th:errors="*{password}" class="red-text">Error</div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">dialpad</i>
                                <input id="passwordRepeat" type="password" th:field="*{passwordRepeat}"
                                       required="required" th:errorclass="invalid"/>
                                <label for="password">确认密码</label>
                                <div th:errors="*{passwordRepeat}" class="red-text">Error</div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">assignment_ind</i>
                                <input id="name" type="text" class="validate" th:field="*{name}" required="required"
                                       th:errorclass="invalid"/>
                                <label for="name">真实姓名</label>
                                <div th:errors="*{name}" class="red-text">Error</div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate" th:field="*{email}" required="required"
                                       th:errorclass="invalid"/>
                                <label for="email" data-error="请输入正确的邮箱">邮箱</label>
                                <div th:errors="*{email}" class="red-text">Error</div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field inline col s6 offset-s3">
                                <i class="material-icons prefix">phone</i>
                                <input id="tel" type="tel" class="validate" th:field="*{tel}" required="required"
                                       th:errorclass="invalid"/>
                                <label for="tel">手机号</label>
                                <div th:errors="*{tel}" class="red-text">Error</div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <div class="input-field col s8">
                                    <i class="material-icons prefix">textsms</i>
                                    <label for="kaptcha">验证码</label>
                                    <input id="kaptcha" type="text" class="validate" required="required"
                                           th:field="*{kaptcha}"/>
                                </div>
                                <div class="input-field col s4">
                                    <img th:src="@{/kaptcha/image}">
                                </div>
                                <div th:errors="*{kaptcha}" class="red-text">Error</div>
                            </div>
                        </div>
                        <div class="row center">
                            <div class="input-field col s6 offset-s3">
                                <button class="btn waves-effect waves-light" type="submit" id="save" name="save">提交
                                    <i class="material-icons right">send</i>
                                </button>
                                <button class="btn waves-effect waves-light" type="reset" name="reset">重置
                                    <i class="material-icons right">undo</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
</body>
</html>