<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>AA电单车</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div id="slider" class="scrollspy section">
        <div class="carousel carousel-slider center" data-indicators="true" style="height:570px;">
            <div class="carousel-item" href="#one!">
                <img th:src="@{/static/images/ad1.png}" style="width:85%;">
            </div>
            <div class="carousel-item" href="#two!">
                <img th:src="@{/static/images/background1.jpg}" style="width:85%;">
            </div>
            <div class="carousel-item" href="#three!">
                <img th:src="@{/static/images/ad3.png}" style="width:85%;">
            </div>
        </div>
    </div>

    <div class="section">
        <div>
            <div class="col s2 m2 l2">
                <div class="collection">
                    <div th:if="${product.brandId == null}">
                        <a th:href="@{${'/'}(page=1)}" class="collection-item active">所有品牌</a>
                    </div>
                    <div th:if="${product.brandId != null}">
                        <a th:href="@{${'/'}(page=1)}" class="collection-item">所有品牌</a>
                    </div>
                    <div th:each="brand : ${brandList}">
                        <a th:if="${product.brandId eq brand.id}"
                           th:href="@{${'/'}(page=1,brandId=${brand.id})}"
                           th:text="${brand.name}" class="collection-item active">品牌名称</a>
                        <a th:if="${not (product.brandId eq brand.id)}"
                           th:href="@{${'/'}(page=1,brandId=${brand.id})}"
                           th:text="${brand.name}" class="collection-item">品牌名称</a>
                    </div>
                </div>
            </div>
            <div class="col s10 m10 l10">
                <table>
                    <div th:if="${#lists.size(productList.list)} == 0">
                        <span>抱歉，没有找到相关商品</span>
                    </div>
                    <div th:if="${#lists.size(productList.list)} != 0"
                         th:with="size=${#lists.size(productList.list)}, rows=${size/4}, remain=${size-rows*4}">
                        <div th:if="${rows} gt 0">
                            <tr th:each="row : ${#numbers.sequence(0, rows - 1, 1)}">
                                <td th:each="col : ${#numbers.sequence(0, 3, 1)}" class="col s3 m3 l3">
                                    <div th:with="product=${productList.list[row*4+col]}">
                                        <div class="row">
                                            <div class="col s12 m12 l12">
                                                <div class="card hoverable">
                                                    <div class="card-image">
                                                        <img th:src="@{'/static/images/' + ${product.imgUrl}}">
                                                    </div>
                                                    <div class="card-content">
                                                        <a style="font-size: 14px;"
                                                           th:href="@{'/product/' + ${product.id}}"
                                                           th:text="${product.name}">商品名称</a>
                                                    </div>
                                                    <div class="card-action">
                                                <span style="color: #C5C1AA;font-size: 12px;">市场价<del
                                                        th:text="${product.marketPrice}"></del></span>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<span
                                                            style="color: #CD0000;font-size: 12px;"
                                                            th:text="'特价' + ${product.salePrice}"></span><br/>
                                                        <a th:href="@{'/user/buy/' + ${product.id}}">立即购买</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        <div th:if="${remain} gt 0">
                            <tr>
                                <td th:each="col : ${#numbers.sequence(0, remain - 1, 1)}" class="col s3 m3 l3">
                                    <div th:with="product=${productList.list[rows*4+col]}">
                                        <div class="row">
                                            <div class="col s12 m12 l12">
                                                <div class="card hoverable">
                                                    <div class="card-image">
                                                        <img th:src="@{'/static/images/' + ${product.imgUrl}}">
                                                    </div>
                                                    <div class="card-content">
                                                        <a style="font-size: 14px;"
                                                           th:href="@{'/product/' + ${product.id}}"
                                                           th:text="${product.name}">商品名称</a>
                                                    </div>
                                                    <div class="card-action">
                                                <span style="color: #C5C1AA;font-size: 12px;">市场价<del
                                                        th:text="${product.marketPrice}"></del></span>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;<span
                                                            style="color: #CD0000;font-size: 12px;"
                                                            th:text="'特价' + ${product.salePrice}"></span><br/>
                                                        <a th:href="@{'/user/buy/' + ${product.id}}">立即购买</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </div>
                </table>
                <div class="center">
                    <ul class="pagination">
                        <li th:if="${productList.hasPreviousPage}" class="wave-effect">
                            <a th:href="@{${'/'}(page=1,brandId=${product.brandId})}">首页</a>
                        </li>
                        <li th:if="${productList.hasPreviousPage}" class="wave-effect">
                            <a th:href="@{${'/'}(page=${productList.prePage},brandId=${product.brandId})}"><i
                                    class="material-icons">chevron_left</i></a>
                        </li>
                        <li class="wave-effect" th:each="pageNo : ${#numbers.sequence(1, productList.pages)}">
                            <a th:if="${productList.pageNum eq pageNo}" href="javascript:void(0);"
                               class="active disabled">
                                <span th:text="${pageNo}" style="font-weight: bold; font-size: 1.5rem"></span>
                            </a>
                            <a th:if="${not (productList.pageNum eq pageNo)}"
                               th:href="@{${'/'}(page=${pageNo},brandId=${product.brandId})}">
                                <span th:text="${pageNo}"></span>
                            </a>
                        </li>
                        <li th:if="${productList.hasNextPage}" class="waves-effect">
                            <a th:href="@{${'/'}(page=${productList.nextPage},brandId=${product.brandId})}">
                                <i class="material-icons">chevron_right</i></a>
                        </li>
                        <li th:if="${productList.hasNextPage}" class="waves-effect">
                            <a th:href="@{${'/'}(page=${productList.pages},brandId=${product.brandId})}">尾页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">
    $(function () {
        $('.carousel').carousel();
    });
</script>
</body>
</html>
