<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<head>
    <title>AA电单车</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material
                        Design</h5>
                </div>
                <div class="row center">
                    <a href="http://materializecss.com/getting-started.html" id="download-button"
                       class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img th:src="@{/static/images/background1.jpg}" alt="Unsplashed background img 1"></div>
    </div>

    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s8 m2">
                    <div class="collection">
                        <a th:href="@{/product/all}" class="collection-item active">所有品牌</a>
                        <a th:href="@{/product/1}" class="collection-item">爱玛</a>
                        <a th:href="@{/product/2}" class="collection-item">绿源</a>
                        <a th:href="@{/product/3}" class="collection-item">小牛</a>
                    </div>
                </div>

                <div class="col s16 m6">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons circle">folder</i>
                            <span class="title">标题</span>
                            <p>第一行 <br>
                                第二行
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle">folder</i>
                            <span class="title">标题</span>
                            <p>第一行 <br>
                                第二行
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle green">insert_chart</i>
                            <span class="title">标题</span>
                            <p>第一行 <br>
                                第二行
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle red">play_arrow</i>
                            <span class="title">标题</span>
                            <p>第一行 <br>
                                第二行
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
