<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body ms-controller="viewmodel">
<h1 th:text="${msg}">Hello World</h1>
<button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@request(1, 2)">{{@text}}</button>
<table class="table table-striped">
    <thead>
    <tr>
        <td class="active">id</td>
        <td class="success">用户名</td>
        <td class="warning">图片</td>
    </tr>
    </thead>
    <tbody>
    <tr ms-for="el in @productList">
        <td>{{el.name}}</td>
        <td>{{el.description}}</td>
        <td><img ms-attr-src="{{el.imgUrl}}"></td>
    </tr>
    </tbody>
</table>
</body>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/static/js/new/avalon.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/new/myscript.js}"></script>
</html>