<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaebike.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.aaebike.model.SaleOrder">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="random_code" property="randomCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="OrderDetail" type="com.aaebike.model.OrderDetail">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="random_code" property="randomCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, product_id, price, random_code, create_time, update_time, del_flag
    </sql>

    <select id="getAllOrderDetail" resultMap="OrderDetail" parameterType="com.aaebike.model.SaleOrder">
        select sale_order.*, product.name as product_name, product.market_price, brand.name as brand_name
        from sale_order
        left join product
        on sale_order.product_id = product.id
        left join brand
        on product.brand_id = brand.id
        where sale_order.user_id = #{userId,jdbcType=INTEGER}
        and sale_order.del_flag = 0
        order by sale_order.create_time desc
    </select>
</mapper>