<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaebike.mapper.ProductMapper">
    <resultMap id="ProductDetail" type="com.aaebike.model.ProductDetail">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="sale_price" property="salePrice" jdbcType="DECIMAL"/>
        <result column="cover" property="cover" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, create_time, update_time, del_flag
    </sql>

    <select id="getProductList" resultMap="ProductDetail" parameterType="com.aaebike.model.Product">
        select product.*, brand.name as brand_name
        from product
        left join brand
        on product.brand_id = brand.id
        where product.del_flag = 0
        <if test="brandId != null and brandId != 0">
            and product.brand_id = #{brandId,jdbcType=INTEGER}
        </if>
        and brand.del_flag = 0
        order by product.update_time
    </select>

    <select id="getProductDetailById" resultMap="ProductDetail" parameterType="com.aaebike.model.Product">
        select product.*, brand.name as brand_name
        from product
        left join brand
        on product.brand_id = brand.id
        where product.id = #{id}
        and product.del_flag = 0
        and brand.del_flag = 0
    </select>

    <select id="search" resultMap="ProductDetail" parameterType="com.aaebike.model.Product">
        select product.*, brand.name as brand_name
        from product
        left join brand
        on product.brand_id = brand.id
        where (product.name like CONCAT('%', #{name}, '%')
        or brand.name like CONCAT('%', #{name}, '%'))
        and product.del_flag = 0
        and brand.del_flag = 0
        order by product.update_time
    </select>
</mapper>